body{
    margin: 0px;
}
.container1{
    background-image: linear-gradient(#00008B,#1E90FF,DeepSkyBlue,#87CEFA,#FFA500);
    height: 1050px;
    width: 100vw;
    overflow: hidden;
}

/* cloud design and positioning*/
.cloud{
    display: inline-block;
    padding: 30px;
    margin-top: 50px;
}
img{
    width: 300px;
}
#c2,#c4{
    width: 200px;
    position: relative;
    top: 70px;
}

/* styling the Mountain in the background...*/

.hill{
    display: inline-block;
    width: 100%;
    margin-top: 200px;
}
#t1{
    width: 100%;
    margin-top: 50px;
}

/* this section is used for styling the intro...*/
.intro{
    font-family: "Lucida Handwriting";
    font-size: 30px;
    position: absolute;
    top: 100px;
    margin-top: 150px;
}

#myimg{
    display: block;
    width: 400px;
    margin-left: 450px;
    margin-top: 50px;
}

#intro-span{
    color: #7CFC00;
    text-shadow: 5px 5px 5px#00008B;
}
#intro-h1{
    margin-left: 400px;
    color: black;
    word-spacing: 10px;
    margin-bottom: 0px;
    text-shadow: 5px 5px 5px white;
}

#intro-p{
    margin-left: 450px;
    color: #FF00FF;
    font-weight: bolder;
    word-spacing: 5px;
    margin-top: 1px;
    text-shadow: 5px 5px 5px#00008B;
}

